{% extends "layout.html" %}

{% block head %}
<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  label {
    font-size: 0.8rem;
  }
</style>
{% endblock %}

{% block main %}
<form action="/sign-up" method="post">
  <legend>Sign Up</legend>
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <label for="username">Password</label>
  <input type="text" name="password" id="password">
  <button type="submit">Sign Up</button>
</form>
{% endblock %}